AppSource/Source/20131230/Front/Service References/SynchronizationService/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://cpcvnc10.cpcvn.com/SyncService/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SynchronizationService" />
  <xs:element name="Authentication">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SynchronizationService" minOccurs="0" name="storeModel" nillable="true" type="q1:StoreModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SynchronizeWithStore">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SynchronizationService" minOccurs="0" name="FileInfoModel" nillable="true" type="q2:FileInfoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SynchronizeWithMainStore">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SynchronizationService" minOccurs="0" name="FileInfoModel" nillable="true" type="q3:FileInfoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NoFileTransfer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SynchronizationService" minOccurs="0" name="storeModel" nillable="true" type="q4:StoreModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSyncRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendResultToStore">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SynchronizationService" minOccurs="0" name="resultModel" nillable="true" type="q5:FileInfoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Disconnect">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SynchronizationService" minOccurs="0" name="storeModel" nillable="true" type="q6:StoreModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshStore">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SynchronizationService" minOccurs="0" name="storeModel" nillable="true" type="q7:StoreModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshStoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RefreshStoreResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MainStoreDisConnect">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SynchronizationService" minOccurs="0" name="storeModel" nillable="true" type="q8:StoreModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MainStoreDisConnectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsMainStore">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SynchronizationService" minOccurs="0" name="storeModel" nillable="true" type="q9:StoreModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsMainStoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsMainStoreResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsStore">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SynchronizationService" minOccurs="0" name="storeModel" nillable="true" type="q10:StoreModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsStoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsStoreResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsConnect">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsConnectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsConnectResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StoreDisConnect">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SynchronizationService" minOccurs="0" name="storeModel" nillable="true" type="q11:StoreModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncAtStore">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SynchronizationService" minOccurs="0" name="fileInfoModel" nillable="true" type="q12:FileInfoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncAtMainStore">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SynchronizationService" minOccurs="0" name="fileInfoModel" nillable="true" type="q13:FileInfoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Untransfer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UntransferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UntransferResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendError">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SynchronizationService" minOccurs="0" name="fileInfoModel" nillable="true" type="q14:FileInfoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendRequestConnect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>